<div id="footer" class="panel">
  <div class="panel-footer sharif-color">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4 footer-text">
      <p>We are part of the
        <a href="http://ce.sharif.ir/">
          Computer Engineering Department
        </a> at
        <a href="https://www.sharif.ir">Sharif University of Technology</a>.</p>
		</div>
		<div class="col-sm-4 col-sm-offset-4 footer-text">
		  Contact:<br />
		  504, CE Building, Sharif University of Technology<br />
		  Azadi Ave, Tehran, Iran (<a href="https://goo.gl/maps/7mehqEmTYy32">Maps</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ "/" | relative_url }}js/bootstrap.min.js"></script>
